.top-bar {
  border: 1px solid #e4e4e4;
  height: 50px;
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
}

.search {
  font-family: "One Mobile Title", sans-serif;
  font-weight: 400; /* Regular weight */
  display: flex;
  align-items: center;
}

/* 검색창 */
.search {
  position: relative;
  margin-top: 3px;
  width: 30rem;
}

.search > input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 13px;
  height: 35px;
}

.search > img {
  position: absolute;
  width: 17px;
  top: 14px;
  right: 9px;
  margin: 0;
  cursor: pointer;
}

.main {
  display: flex;
  height: calc(100% - 45px); /* top-bar 높이 제외 */
}

/* 우측 상태 확인 관련 css */

.employee {
  margin-top: 8px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  /* border: 1px solid black; */
}

.employee-icon {
  width: 100%;
  height: 100%;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 이미지가 컨테이너 안에 맞게 조정됨 */
}

.logo {
  margin-left: 5px;
  margin-top: 5px;
  width: 130px;
  height: 40px; /*
  border: 1px solid black; */
}

.employee > i {
  color: #676767; /* 원하는 색상 */
}

.employee > i:hover {
  color: #0056b3;
}

/* 모달관련 코드 */
.employee-icon,
#modalCloseButton {
  cursor: pointer;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  /* background: rgba(0, 0, 0, 0.5); */
  z-index: 20000; /* 모든 요소 위에 보이도록 */
}

#modalContent {
  position: absolute;
  margin-top: 41px;
  background-color: #ffffff;
  margin-right: 5px;
  width: 230px;
  height: 249px;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  border: 1px solid gainsboro;
  box-shadow: 0px 1px 3px 0 darkgray;
}

#modalContainer.hidden {
  display: none;
}

#logoutLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: end;
}

#logout {
  width: 50px;
  height: 15px;
  /* font-weight: 300; */
  font-size: 13px;
  margin-left: auto;
}

#modify-employee-button {
  position: absolute;
  font-size: 13px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#profile-img {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid rgb(219 219 219);
  margin-top: 11px;
  border-radius: 51%;
  margin-left: 1rem;
  cursor: pointer;
}

#profile-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50px;
}

#user-profile {
  margin-left: auto;
  text-align: right;
  margin-top: 15px;
}

#profile-img-modify {
  position: absolute;
  margin-top: -20px;
  margin-left: 50px;
  width: 20px;
  height: 20px;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
}

#profile-img-modify > i {
  width: 15px;
  color: #3d3d3d;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  font-variant: all-small-caps;
}

#user-status-box {
  margin-top: 8px;
  width: 210px;
  height: 31px;
  border-radius: 3px;
  border: 0.5px solid #d1d1d1;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px;
}

#status {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: #92c353;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

#message-pen,
#message-trash,
#message-save {
  cursor: pointer;
}

#status > i {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1px;
  color: white;
  font-size: 13px;
}

#status-text {
  margin-left: auto;
  font-size: 13px;
}

#status-modify-icon {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

#status-modify-icon > i {
  font-size: 10px;
}

#buttons {
  margin-top: 5px;
  display: flex;
  margin-left: auto;
}

#user-dept {
  margin-top: 5px;
  font-size: 13px;
}

#user-email {
  margin-top: 5px;
  font-size: 13px;
}

#status-message {
  margin-top: 5px;
  width: 210px;
  height: 90px;
  border-radius: 5px;
  background-color: #e0e0e0;
  margin-left: auto;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
}

#tmp-employee-contents {
  width: 210px;
  height: 62px;
  border-radius: 5px;
  background-color: #e0e0e0;
  position: absolute;
  top: 133px;
  left: 10px;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
  border: 0px solid black;
}

#status-message-contents {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 65px;
  font-size: 12px;
  line-height: normal;
}

#status-message-buttons {
  display: flex;
  justify-content: end;
}

#status-message-buttons > div {
  /* margin-right: 5px; */
  padding-bottom: 2px;
}

#status-message-buttons > div > i {
  margin-right: 5px;
  color: #676767;
}

#modalCloseButton,
#modify-status {
  font-size: 10px;
  width: 60px;
  height: 20px;
  margin-left: 5px;
  border-radius: 3px;
  border: 0.5px solid #c0c0c0;
}

#modify-status {
  background-color: #0545cf;
  color: white;
}

#modify-status:hover {
  background-color: #67a7ff;
}

/* 상태 변경 모달 */
#status-container {
  position: absolute;
  width: 210.5px;
  height: 95px;
  border-radius: 3px;
  border: 0.5px solid #c9c9c9;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position-area: y-end;
  margin-right: 8px;
  margin-top: 117px;
  background-color: white;
  flex-direction: column;
}

.user-status-select {
  cursor: pointer;
}

#status-container.hidden {
  display: none;
}
.employee-icon,
#modalCloseButton {
  cursor: pointer;
}

#status-container > div {
  font-size: 13px;
  width: 210px;
  display: flex;
  justify-content: center;
  height: 25px;
}

#status-ok,
#status-reset,
#status-offline {
  border-bottom: 1px solid #c1c1c1;
}

/* second contents bar  css*/

#second-contents {
  display: flex;
}

#left {
  flex-shrink: 1;
}

#right {
  flex-shrink: 0;
}

.status-ok-icon {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: #92c353;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}

.status-reset-icon {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: #eaa300;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  margin-top: 1px;
}

.status-offline-icon {
  margin-top: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: #d9d9d9;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-disturb-icon {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: #ea0000;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}
.status-reset-icon > i,
.status-offline-icon > i,
.status-disturb-icon > i,
.status-ok-icon > i {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1px;
  color: white;
  font-size: 13px;
}

.status-reset-icon,
.status-offline-icon,
.status-disturb-icon,
.status-ok-icon {
  margin-right: 10px;
}

#status-container > div > i {
  margin-right: 10px;
}

#status-ok > span {
  margin-top: 3px;
}

#status-offline > span,
#status-disturb > span {
  margin-top: 4px;
}

#status-reset > span {
  margin-top: 6px;
}

#status-reset-icon {
  margin-top: 2px;
}

#search-bar-container.hidden {
  display: none;
}

#search-bar-container {
  width: 100%;
  height: 94%;
  position: absolute;
  z-index: 20000;
  display: flex;
  justify-content: center;
}

#search-bar-contents {
  height: 325px;
  width: 29.9rem;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 3px;
  z-index: 20001;
  margin-left: 100px;
  box-shadow: 0px 1px 3px 0 darkgray;
  padding: 3px;
}

#search-bar-contents * {
  color: #676767;
}

#search-people-title {
  margin-top: 10px;
}

#search-people-contents {
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 5px;
}

#search-group-title,
#search-people-contents,
#search-people-title,
.search-group-contents {
  padding-left: 7px;
  padding-right: 8px;
}

#search-group-title {
  margin-top: 10px;
}

.search-peoples {
  padding-top: 3px;
  padding-bottom: 3px;
  /*border: 1.5px solid #5a5a5a;*/
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-peoples > p {
  margin-top: 2px;
}

.search-profile-img {
  width: 50px;
  height: 50px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 70%;
  /*border: 1px solid #0b93ff;*/
}

#search-group-chat-rooms {
  height: 150px;
  width: 100%;
  overflow-y: auto;
}

.search-group-contents {
  padding-top: 3px;
  padding-bottom: 3px;
  height: 50px;
  /*border: 1px solid #ccc;*/
  margin-top: 3px;
  /* justify-content: center; */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-profile-img img {
  width: 50px;
  height: 100%; /* 컨테이너 크기에 맞춤 */
  border-radius: 70%;
  border: 1.5px solid #d7d7d7;
  object-fit: cover;
}

.search-chat-profile-img {
  display: flex;
}

.search-chat-profile-img img {
  width: 30px;
  height: 100%; /* 컨테이너 크기에 맞춤 */
  border-radius: 70%;
  border: 1.5px solid #d7d7d7;
}

.search-chatroom-name {
  margin-left: 5px;
}

.search-profile-name,
.search-profile-dept,
.search-profile-position {
  font-size: 12px;
}

#search-people-contents > div:hover,
#search-group-chat-rooms > div:hover {
  background-color: aliceblue; /* 포커스 시 배경 색상 변경 */
}
#search-people-contents > div,
#search-group-chat-rooms > div {
  border-radius: 5px;
}

#other-employee-info-container.hidden {
  display: none;
}

.second-side-bar {
  flex: 0 0 22%;
  max-width: 500px;
  min-width: 260px;
  height: 100%;
  background-color: #f5f5f5;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  overflow-y: auto;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/

  /* 위치 속성 제거 */
}

#other-employee-info-container {
  width: 96%;
  height: 94.5%;
  position: absolute;
  background-color: white;
  z-index: 18000;
  margin-left: 3.8%;
}

#other-employee-info-contents {
  width: 200px;
  height: 200px;
  background-color: black;
}

.second-side-bar::-webkit-scrollbar {
  width: 10px;
}

.second-side-bar::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 20px;
}

.second-side-bar::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 20px;
}

#other-employee-schedule-close-button {
  width: 50px;
  height: 30px;
  background-color: #4b6dd1;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 13px;
}

#other-employee-schedule-close-button:hover {
  background-color: white;
  border: 1px solid #4b6dd1;
  border-radius: 5px;
  color: #4b6dd1;
}

#close-button-container {
  display: flex;
  justify-content: end;
}

#employee-info-container {
  width: 300px;
  height: 500px;
  /*background-color: #bababa;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11vw;
  margin-left: 1.5vw;
}
#profile-name-position {
  width: 250px;
  height: 70px;
  /*background-color: #4b6dd1;*/
  display: flex;
  padding: 10px;
  justify-content: end;
}

#other-employee-name-position {
  display: flex;
}

#other-employee-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #858a8f;
  margin-left: 1vw;
}

#other-employee-status {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  margin-left: 48px;
  /* margin-bottom: 25rem; */
  /* margin-right: 8rem; */
  border-radius: 50%;
  margin-top: 32px;
}

#employee-status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#other-name {
  font-size: 30px;
  margin-top: 1vw;
  font-family: "One Mobile Title", sans-serif;
}

#other-position {
  font-size: 20px;
  margin-top: 1.5vw;
  font-family: "One Mobile Title", sans-serif;
}

#other-name {
  margin-left: 0.5vw;
}

#other-etc-info-container {
  height: 400px;
  width: 250px;
  /* background-color: #c5cdff; */
  display: flex;
  flex-direction: column;
  align-items: end;
  /* padding: 5px; */
  padding-right: 10px;
}

#other-etc-info-container > div {
  margin-top: 5px;
}

#other-contents-container {
  width: 220px;
  height: 180px;
  background-color: white;
  border-radius: 7px;
  border: 1.5px solid #ccc;
  padding: 10px;
  line-height: 1.2;
}

.fa-comment {
  font-size: 35px;
}

#other-chat-button {
  width: 50px;
  height: 60px;
  font-size: 10px;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5.5rem;
  margin-top: 15px !important;
  cursor: pointer;
}

#other-chat-button > div {
  font-size: 14px;
}

#other-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
}

/**
top-bar 달력
 */

#name-bar-top-bar {
  height: 50px;
  width: 100%;
  background-color: #f4f4f4;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#employee-name-location-top-bar {
  margin-left: 14px;
  color: #828181;
}

#calendar-top-bar {
  /* border: 1px solid black; */
  width: 100%;
  height: calc(100% - 9.3rem);
  padding: 10px;
}
