#change-password-container {
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#change-password-contents {
  margin-top: 3rem;
  width: 40rem;
  height: 30rem;
  border: 1.5px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#change-password-title {
  font-family: "One Mobile Title", sans-serif;
  font-size: 30px;
  padding-right: 20rem;
  color: cornflowerblue;
  border-bottom: 2px solid;
  padding-bottom: 4px;
  margin-top: 2rem;
}

#existing-password-input,
#change-password-input,
#change-password-check-input {
  width: 22rem;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1.5px 1px #ccc;
  padding-left: 5px;
}

#password-check-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#password-check-container > div {
  margin-right: 2rem;
  margin-top: 2.5rem;
}

.watch-password {
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
}

/**
buttons 
 */
#change-password-button-container {
  display: flex;
  justify-content: end;
  position: absolute;
  margin-top: 21.5rem !important;
  margin-left: 25rem;
}

#close-change-password {
  width: 100px;
  height: 30px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  margin-left: 5px;
}

#change-password-button {
  width: 100px;
  background-color: cornflowerblue;
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

#change-password-button:disabled {
  background-color: #d3d3d3;
  color: #a9a9a9;
  cursor: not-allowed;
}

.custom-cancel-button {
  color: black;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
}
